<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github</id>
      <username>wangyum</username>
      <!-- Public token with `read:packages` and `public_repo` scope -->
      <password>10be5b0578590d93d73139d7d05835d4109ae13a</password>
    </server>
  </servers>
</settings>
