<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github-hive</id>
      <username>wangyum</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#57;&#50;&#99;&#48;&#99;&#97;&#102;&#56;&#102;&#57;&#52;&#51;&#99;&#97;&#97;&#56;&#54;&#100;&#102;&#48;&#49;&#100;&#99;&#48;&#52;&#100;&#101;&#48;&#57;&#100;&#101;&#98;&#49;&#99;&#56;&#102;&#99;&#55;&#57;&#50;</password>
    </server>
    <server>
      <id>github-parquet-mr</id>
      <username>wangyum</username>
      <password>&#57;&#50;&#99;&#48;&#99;&#97;&#102;&#56;&#102;&#57;&#52;&#51;&#99;&#97;&#97;&#56;&#54;&#100;&#102;&#48;&#49;&#100;&#99;&#48;&#52;&#100;&#101;&#48;&#57;&#100;&#101;&#98;&#49;&#99;&#56;&#102;&#99;&#55;&#57;&#50;</password>
    </server>
  </servers>
</settings>
